/* todo el css va aqui */
body {
  margin: 0em;
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Readex Pro", sans-serif;
}
.cover {
  height: 250px;
  background-image: url(https://cdn.glitch.me/06c697de-e871-47d3-b13c-07fa7bac6363%2Frsz_erica-zhou-ihpugfdn7zu-unsplash.jpg?v=1637721229451);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: gray;
  background-blend-mode: darken;
}
.ucover {
  height: 250px;
  background-image: url(https://cdn.glitch.me/06c697de-e871-47d3-b13c-07fa7bac6363/323F3ECD-4D78-446F-AC3F-2E2AA1339213.jpeg?v=1639616921676);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: gray;
  background-blend-mode: darken;
}

.cover-small {
  height: 600px;
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0.1) 0 2px 4px -1px rgba(0, 0, 0.06);
}
.card-title {
  min-heigth: 3rem;
}
.card-text {
  min-heigth: 10rem;
}
.product-stripe {
  overflow-x:scroll;
  padding-top:1rem;
  padding-botton:1rem;
}
.stripe-container {
  display:flex;
}

.stripe-container .card {
  width:200px;
  height:300px;
  flex-shrink:0;
  margin-right:1rem;
} 
.responsive-iframe{
  position:relative;
  padding-top:56.26%;
}
.responsive-iframe iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
